/*import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/ 

/*body*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body{
background: linear-gradient(to bottom, #12071f, #5c24a1);
color: #ffffff;
}

/*navbar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.logo span{
    color: #ff4fd8;
}
.menu{
    display: flex;
    gap: 30px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-btn{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right,#ff4fd8,#8f4bff);
    color: white;
    cursor: pointer;
}
.menu-icon{
    display: none;
    font-size: 26px;
    cursor: pointer;
}
.menu-toggle{
    display: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/*banner related style*/

.banner{
    position: relative;
    height: 650px;
    background: radial-gradient(circle at center, #2a0f4e, #12071f);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner-content{
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 700px;
    margin-top: -430px; 
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.banner-description{
    font-size: 1.1rem;
    opacity: 0.85;
    margin-bottom: 30px;
}

.btn{
    padding: 14px 28px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 8px;
}

.primary{
    background: linear-gradient(to right,#ff4fd8,#6435ae);
    border: none;
    color: white;
}

.outline{
    background: transparent;
    border: 2px solid #0fac46;
    color: rgb(4, 150, 82);
}

.banner-bg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

.circle{
    position: absolute;
    width: 280px;
    top: 55%;                 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.microphone{
    position: absolute;
    width: 120px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/*about the podcast*/
.about{
    background-color: #1b0539;
    text-align: center;
    padding: 80px 20px;
    max-width: 100%;
    margin: auto;
}
.about h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.about p{
    opacity: 0.85;
    line-height: 1.7;
}

.stats{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    text-align: center;
    padding: 60px 40px;
}
.stat h3{
    font-size: 2.2rem;
    color: #22ff9a;
}
.stat p{
    opacity: 0.8;
}

/*responsive media query*/
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
}
@media screen and(min-width:576px) and (max-width:992px) {
      
.navbar{
        flex-direction: column;


      }
    }