
import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*body*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body{
background: linear-gradient(to bottom, #12071f, #5c24a1);
color: #ffffff;
}

/*navbar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.logo span{
    color: #ff4fd8;
}
.menu{
    display: flex;
    gap: 30px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-btn{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right,#ff4fd8,#8f4bff);
    color: white;
    cursor: pointer;
}
.menu-icon{
    display: none;
    font-size: 26px;
    cursor: pointer;
}
.menu-toggle{
    display: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/*banner related style*/
.banner{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: #1b0b2e;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.btn-primary{
    background-color: #dd22d4;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
        .wave{
            position: absolute;
            top:50%;
            width: 300px;
            z-index: 2;
        }
        .circle {
            top: -70px;
          z-index: 5;
        }
        .microphone{
            top: -150px;
        }